body {
    display: flex !important;
    min-height: 100vh !important;
    flex-direction: column !important;
}

.start {
    flex: 1 0 auto !important;
}

.start {
    padding: 2vmin;
    text-align: center;
}

.start div {
    display: inline;
}

.inform {
    color: #50394c;
    font-family: Raleway;
    text-align: center;
    margin-top: 18vmin;
}

.inform p{
    font-family: Poppins;
}

.optbtn {
    height: 6vmin;
    width: 20vmin;
    margin-left: 2vmin;
    margin-right: 2vmin;
    font-size: 2vmin;
    line-height: 6vmin;
    background-color: #b5e1e2;
    color: #50394c;
    z-index: 0;
}

.optbtn:hover {
    background-color: #b5e1e2;
}

.optbtn:focus {
    background-color: #b5e1e2;
}

.forminput{
    width: 60%;
    color: #50394c !important;
    box-shadow: 0.3vmin 0.3vmin 1vmin rgb(223, 223, 223);
    padding: 3vmin;
    padding-left: 15vmin;
    padding-right: 15vmin;
    margin-top: 5vmin;
    position: relative;
    left: 50%;
    transform: translate(-50%);
}

.forminput h5, .forminput p{
    text-align: center;
    color: #50394c;
}

.forminput p{
    margin-bottom: 5vmin;
    font-family: Poppins;
}

.deetsname{
    margin-bottom: 5vmin;
}

.forminput label{
    font-weight: normal;
}

.submitbtn{
    position: relative;
    left: 50%;
    transform: translate(-50%);
    margin-bottom: 5vmin;
}

input, textarea{
    height: 6vmin !important;
    font-size: 2.5vmin !important;
}

.input-field ul{
    height: 60vmin;
}


@media only screen and (max-width: 768px){
    .forminput{
        width: 95%;
        padding-left: 0vmin;
        padding-right: 0vmin;
        padding: 1vmin;
    }
    .optbtn{
        margin-left: 0.5vmin;
        margin-right: 0.5vmin;
    }
}