.page-footer {
    margin-top: 25vmin;
    border-top: 0.3vmin solid black;
    background-color: #ffef96 !important;
}

.foot-head {
    color: #50394c;
    font-family: Lobster;
}

.foot-text {
    color: #50394c;
}

.foot-link a{
    line-height: 3vmin;
    color: #50394c !important;
}

.page-footer a:hover{
    color: rgb(179, 179, 179) !important;
    text-decoration: underline black;
}

.container{
    color: #50394c;
    font-size: 2.3vmin;
}

.container a{
    color: #50394c;
}