.page-footer {
    margin-top: 25vmin;
    border-top: 0.3vmin solid black;
    background-color: #ffd180 !important;
}

.foot-head {
    color: #252525;
    font-family: Lobster;
}

.foot-text {
    color: #2c2c2c;
}

.foot-link a{
    line-height: 3vmin;
    color: #252525 !important;
}

.page-footer a:hover{
    color: rgb(255, 255, 255) !important;
    text-decoration: underline black;
}

.container{
    color: #252525;
    font-size: 2.3vmin;
}

.container a{
    color: #252525;
}