*{
    color: #1f1f1f;
}

.card-container{
    margin-top: -3vmin !important;
    font-family: Poppins;
}

#maincontainer {
    border-left: 0.2vmin solid rgb(226, 226, 226);
    padding-top: 3vmin;
}

.card-content {
    text-align: center;
    padding: 0 !important;
    position: relative;
    text-transform: capitalize;
}

.cardtitle {
    padding: 2vmin;
    margin-bottom: 3vmin;
    border-bottom: 0.2vmin solid rgb(226, 226, 226);
    line-height: 3.7vmin;
    font-size: 2.5vmin;
    font-family: Raleway;
    background-color: #ffd180;
    text-transform: capitalize;
}

.contentrow{
    margin: 0 !important;
}

.cardimg {
    height: 7vmin;
    width: 7vmin;
    margin-bottom: 2vmin;
    margin-right: 4vmin;
}

.cardaward {
    width: 100%;
    height: auto;
    padding: 2vmin;
    font-size: 2.5vmin;
    border: 0.2vmin solid rgb(226, 226, 226);
    border-radius: 1vmin;
}

.updated, .deadline {
    width: 100%;
    height: auto;
    padding: 2vmin;
    border: 0.2vmin solid rgb(226, 226, 226);
    border-radius: 1vmin;
}

.card-action {
    text-align: center;
}

.pagination {
    margin: 0 !important;
    padding-top: 3vmin !important;
    border-left: 0.2vmin solid rgb(226, 226, 226);
}

.pagebtn {
    background-color: #ffd180;
    width: 5vmin;
    margin-left: 0.5vmin;
    margin-right: 0.5vmin;
    position: relative;
    left: 50%;
    transform: translate(-50%);
}

.searchbtn {
    height: 5vmin;
    width: 13vmin;
    font-size: 2vmin;
    line-height: 5vmin;
    background-color: #ffd180;
    color: #1f1f1f;
}

.searchbtn:hover{
    background-color: #e2b973;
}

.searchbtn:focus{
    background-color: #e2b973;
}

.modal {
    position: fixed;
    display: flex;
    z-index: -1;
    visibility: hidden;
    transition: all .2s linear;
}

.modal-show {
    z-index: 100;
    visibility: visible;
}

.modal-trigger{
    color: #ffd180 !important;
}

.submitbtn{
    height: 5vmin;
    width: 13vmin;
    font-size: 2vmin;
    line-height: 5vmin;
    background-color: #ffd180;
    color: #1f1f1f;
}

.submitbtn:hover{
    background-color: #e2b973;
}

.submitbtn:focus{
    background-color: #e2b973;
}