.brand-logo {
    margin-left: 7vmin;
    font-size: 5vmin !important;
    font-family: Lobster;
    color: #50394c !important;
}

nav {
    height: 8vmin;
    line-height: 8vmin;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 100;
    background-color: #ffef96e0 !important;
    box-shadow: none;
    font-family: 'Raleway' !important;
}

.tabs{
    position: fixed;
    top: 8vmin;
    height: 8vmin;
    margin: 0 !important;
    padding: 0 !important;
    background-color: #ffef96e0 !important;
    border-bottom: 0.1vmin solid #b1b1b1;
}

.tabs li{
    height: 8vmin !important;
}

.tabs li.active{
    background-color: transparent !important;
    border-bottom: 0.7vmin solid #bdb16f !important;
}

.tabs li.active a{
    background: none;
    border: none;
    color: #50394c !important;
}

.tab a{
    height: 8vmin !important;
    background-color: transparent;
    border-radius: 0.3vmin;
    color: #50394c !important;
    padding: 0 !important;
    margin: 0 !important;
    text-align: center !important;
    font-size: 2.5vmin !important;
    line-height: 8vmin !important;
}

.tabs li a:hover{
    background-color: #eedf8d !important;
}

.nav-wrapper {
    border-bottom: none;
}

.menu-list li a {
    font-size: 2.5vmin;
    color: #50394c;
}

.active{
    font-weight: bold;
}

.tabs .row::after{
    display: none;
}